<!DOCTYPE html>
<html>
<head>
  <title>Shrtnr</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
  <div class='main-container'>
    <h2>Rob's URL Shrtnr</h2>
    <div class='input-container'>
      <input type="text" id="url" placeholder="Enter URL here">
      <button id="submit">Submit</button>
    </div>

    <div class='feedback-container'>
      <a href="#" id="short_url">http://localhost:4567/</a>
    </div>
  </div>

  <script type="text/javascript" src="/javascript.js"></script>
</body>
</html>